/*top bar*/
*{
    font-family: 'Roboto', sans-serif;
}
.top-outer{
    width: 100%;
    height: 40px;

    background-color: rgba(99, 110, 114,0.7);
}
.top-inner{

    display: flex;
    height: 100%;
}
.top-element{
    border: inherit;
    flex: 1;
}
.top-left>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.top-left>ul>li{
    color: white;
    font-size: 14px;

}
.top-left>ul>li span:hover{
    cursor: pointer;
}
.top-right ul{
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.top-right ul li {
    color: white;
    margin-right: 14PX;
    display: flex;
    align-items: center;
}
.top-right ul li:last-child{
   margin-right: 0;
                 }

.top-right ul li:hover{
    color: #0984e3;
    cursor: pointer;
}

.nav-outer{
    width: 100%;
    height: 70px;
    background-color: rgba(45, 52, 54,0.8);
}
.slider{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    top:-110px;
    z-index: -1;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    left: 0;
}
.slide.active{
    opacity: 1;
}
/*solution start-->*/
.solution-main-outer {
    width: 100%;
    height: auto;
    border: 1px solid red;
}

.inner-wrap{
    width: 100%;
    height: 250px;
    border: 1px solid red;
    padding-top: 20px;
    padding-bottom: 20px;

}
.inner{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 100%;
    position: relative;
    background-color: rgba(241, 242, 246,1.0);

}
.inner-wrap-element{
    flex: 1;
    display: flex;
    padding: 10px;
    font-size: 18px;
}
.inner:hover{
    background-color: rgba(45, 52, 54,0.6);
    cursor: pointer;
    color: white;
}
.inner .inner-wrap-element:first-child{
    justify-content: flex-end;
}
.inner-wrap-element >i{
    font-size: 50px;
}
.movable-element{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    background-color: rgba(0, 206, 201,1.0);
    right: 120px;
    transition: all 1s;
}
.inner:hover .movable-element{
    transform: translateX(50px);
    display: flex;
}
/*solution end-->*/